
.detail-container{
    min-height: 85vh;
}





/* Mobile design */

@media (max-width: 576px){
    .detail-container{
        padding: 0 2rem 0 2rem;
    }

    .detail-card{
        margin-top: 1.5rem;
    }

}