.links-style{
    list-style-type: none;

}

.main-link{
    text-decoration: none;
    color: aliceblue;
 
}
.main-link:hover{
    color:red;  
    transition: 0.2s;
}
.main-link:active{
    color:black;
}

.secondary-link{
    text-decoration: none;
    color: antiquewhite;
    padding-right: 1rem;
}

.secondary-link:hover{
    color: rgba(209, 39, 33,75);
    transition: 0.2s;
}

.secondary-link:active{
    color: antiquewhite;
}